<div>
    <app-infos-client></app-infos-client>
</div>
<br>
<div>
    <app-dossier-credit></app-dossier-credit>
</div>
<br>
<div>
    <app-garantie></app-garantie>
</div>
<br>
<div>
    <app-suivi></app-suivi>
</div>
<br>
<div>
    <app-pieces-j></app-pieces-j>
</div>
<br>
<div>
    <app-observation></app-observation>
</div>
<br>
<div style="text-align: center; margin-top: 20px;">
    <button pButton type="button" icon="pi pi-plus" label="Enregistrer" class="p-button-info custom-button" (click)="enregistrerDemande()"></button>
    <span style="margin: 0 10px;"></span> <!-- Ajoutez un espace horizontal entre les boutons -->
    <button pButton type="onSubmit" icon="pi pi-refresh" label="Réinitialiser" class="p-button-warning custom-button" (click)="reinitialiser()"></button>
</div>
<br>

