<p-fieldset legend="Garanties proposées" [toggleable]="true">
    <br>

    <p-table
        #dt
        [rows]="10"
        [tableStyle]="{ 'min-width': '100%' }"
        [rowHover]="true"
        dataKey="id"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Nature</th>
                <th style="text-align: center;">Type</th>
                <th style="text-align: center;">Valeur</th>
                <th style="text-align: center;">Devise</th>
                <th style="text-align: center;">Action</th>
                <th style="text-align: center;">    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info" (click)="ouvrirDialog()"></button>
                </th> 
            </tr>
            <tr *ngFor="let g of garanties">
                <td class="text-center">{{ g.natureG }}</td>
                <td class="text-center">{{ g.typeG }}</td>
                <td class="text-center">{{ g.valeur }}</td>
                <td class="text-center">{{ g.devise }}</td>
                <td class="text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="ouvrirDialogg(g)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="supprimerGarantie(g)"></button>
                </td>
                <td></td>
            </tr><br>
        </ng-template>
    </p-table>


    <br>
</p-fieldset>



<p-dialog header="Ajouter garantie" [(visible)]="visible" [style]="{ 'width': '62%' }">
    <div>
    <p-toast></p-toast>
    <table>
        <tr>
            <td >
                <label>Nature garantie:</label>
            </td>
            <td colspan="4">
                <p-dropdown placeholder="Choisir :" class="p-dropdown-custom" [options]="naturesG" optionLabel="libNG" [style]="{ minWidth: '100px', width: '200%' }" (onChange)="onNatureGChange($event)" [(ngModel)]="selectedNatureGId"></p-dropdown>
            </td>
            <td style="width: 400px;"></td>
            <td >
                <label>Type garantie :</label>
            </td>
            <td colspan="4">
                <p-dropdown placeholder="Choisir :" [(ngModel)]="selectedTypeG" class="p-dropdown-custom" [options]="typesG" optionLabel="libTG" [style]="{ minWidth: '200px', width: '200%' }"></p-dropdown>
            </td>
        </tr>
        <br>
        <tr>
            <td >
                <label>Valeur :</label>
            </td>
            <td colspan="4">
                <input type="number" [(ngModel)]="selectedValeur" pInputText class="p-inputtext p-component p-element p-filled ng-untouched ng-pristine custom-input" [style]="{ minWidth: '100px', width: '200%' }">
            </td>
            <td style="width: 400px;"></td> 
            <td >
                <label>Devise :</label>
            </td>
            <td colspan="4">
                <p-dropdown placeholder="Choisir :"  [(ngModel)]="selectedDevise" [options]="devises" class="p-dropdown-custom" [style]="{ minWidth: '200px', width: '200%' }"></p-dropdown>
            </td>
        </tr>
        <br>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <button pButton type="button" icon="pi pi-plus" label="Ajouter" class="p-button-info custom-button" (click)="enregistrerGarantie()"></button>
        <button pButton type="onSubmit" icon="pi pi-refresh" label="Réinitialiser" class="p-button-warning custom-button" (click)="reinitialiser()"></button>
    </div>
    <br>
</div>
</p-dialog>