<p-fieldset legend="Dossier crédit" [toggleable]="true">
    <div>
        <table style="width: 100%;">
            <tr>
                <td colspan="6">
                    <label>Type crédit :</label>
                </td>
                <td colspan="6">
                    <p-dropdown class="custom-dropdown" placeholder="Choisir :" [options]="typesC" optionLabel="libTC" [(ngModel)]="typeC" (onChange)="onTypeCChange($event)"></p-dropdown>
                </td>
                <td>
                    <label>Montant :</label>
                </td>
                <td >
                    <input type="number" [(ngModel)]="montant" pinputtext class="p-inputtext p-component p-element p-filled ng-untouched ng-pristine" >                
                </td>
            </tr>
            <br>
            <tr>
                <td colspan="6">
                    <label>Unité :</label>
                </td>
                <td colspan="6">
                    <p-dropdown placeholder="Choisir :"   [options]="unites" [(ngModel)]="unite"></p-dropdown>
                </td>
                <td>
                    <label>Nbre échéance :</label>
                </td>
                <td >
                    <input type="number" [(ngModel)]="nbE" pinputtext class="p-inputtext p-component p-element p-filled ng-untouched ng-pristine" >                
                </td>
            
            </tr>
        </table>
    </div>
</p-fieldset>
