.pieces-container {
    display: flex;
    justify-content: space-between;
  }
  
  .table-container {
    flex-grow: 1;
    margin-right: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .custom-file-input-label {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px;
    display: inline-block;
  }
  
  .selected-files {
    margin-top: 8px;
  }
  