<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="logo-text" *ngIf="collapsed">E-Crédit</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" >
            <a href="" class="sidenav-nav-link" routerLink="demande">
                <i class="fa fa-tag sidenav-link-icon text-center" aria-hidden="true"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">Demande crédit</span>
            </a>
        </li>
        <li class="sidenav-nav-item">
            <a href="" class="sidenav-nav-link" routerLink="credits">
                <i class="fa fa-clone sidenav-link-icon text-center" aria-hidden="true"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">Consulter demandes</span>
            </a>
        </li>
    </ul>
</div>
